@{
    Layout = null;
}

<html>
<head>
    <title>Home Menu</title>
    <link rel="stylesheet" href="~/Assets/css/style-custom.css" />
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/css/loader.css">
    <link rel="stylesheet" href="~/Assets/css/sweetalert2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="loader-div">
        <img class="loader-img" src="~/Assets/image/loading.gif" style="height: 40px;width: auto;" />
    </div>

    <!--Modal Pop Up-->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog"
         aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detail Menu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="productModalBody">
                    <div class="row d-flex align-items-center" style="margin-bottom: 5px;">
                        <div class="col-4">
                            <div class="card h-100">
                                <img src="" id="ycImage" class="img-fluid" alt="Product Image" style="width:100%">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h5 id="ycName">NAMA PRODUK</h5>
                                </div>
                                <div class="card-body">
                                    <p style="font-size: smaller;" class="text-justify" id="ycDescription">Description PRODUK</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center" style="margin-top:20px; margin-bottom20px">
                        <b><p id="ycPrice" class="text-primary">HARGA PRODUK</p></b>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <div class="row">
                            <div class="col-6 form-group">
                                <div class="input-group">
                                    <button class="btn btn-outline-secondary" type="button" onclick="decrementQuantity()">-</button>
                                    <input type="number" id="txtProductQuantity" class="form-control text-center" min="1" value="1" style="margin-left: 5px;margin-right: 5px;">
                                    <button class="btn btn-outline-secondary" type="button" onclick="incrementQuantity()">+</button>
                                </div>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-danger btn-block" role="button" id="btnModal" style="color:white">Pesan</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    @*<p>Rekomendasi dari kami</p>
                        <div class="row">

                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="div-auto">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://c.animaapp.com/q0MeXVJX/img/hero-bnr-pc-frappe-time-1--1.png" class="img-thumbnail" style="width: 100%;" />
                    </div>
                    <div class="carousel-item">
                        <img src="https://c.animaapp.com/q0MeXVJX/img/hero-bnr-pc-frappe-time-1--1.png" class="img-thumbnail" style="width: 100%;" />
                    </div>
                    <div class="carousel-item">
                        <img src="https://c.animaapp.com/q0MeXVJX/img/hero-bnr-pc-frappe-time-1--1.png" class="img-thumbnail" style="width: 100%;" />
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="div-auto">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3 d-flex align-items-center" style="margin-top: 20px;">
                        <img src="../../Assets/image/indomaretlogo.png" class="figure-img img-fluid rounded" alt="" style="min-height: 50px;">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-flex align-items-center">
                        <input type="text" class="form-control" id="txtCari" style="text-transform: uppercase" placeholder="MAU PESAN APA ?" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-lg" type="button" onclick="btnCari_onClick()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 d-flex align-items-center">
                        <button class="nav-link btn btn-danger text-truncate" href="#" onclick="toggleCart()">
                            <i class="fa fa-shopping-cart"></i> Keranjang
                        </button>
                    </div>

                    <!--Panel Cart-->
                    <div id="divCart">
                        @Html.Partial("_PanelCart")
                    </div>
                </div>
            </div>

            <div id="divGrid">
                @Html.Partial("_GridView")
            </div>

        </div>
    </div>

    <div class="menu">
        <div class="div-auto">
            <hr>
            <div class="container-fluid" style="padding-bottom: 10px;">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-8">
                        <h4 id="lblTotalProduk">Total produk : 0</h4>
                        <h3 id="lblTotalHarga">Rp 0</h3>
                    </div>
                    <div class="col-lg-3 col-md-3 col-4 d-flex align-items-center">
                        <button type="button" class="btn btn-danger btn-block btn-lg" style="height: 64px;" onclick="btnbayar_onclick()">Bayar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Assets/js/sweetalert2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>

    <script type="text/javascript">

        var kategory_produk = 'POINT COFFEE';

        $(document).ready(function () {
            updateFooter();
        })

        //JS modal pop up
        function showDetail(prdcd, name, description, price, imageUrl, mmsr, masr) {
            const modalName = document.getElementById('ycName');
            const modalDescription = document.getElementById('ycDescription');
            const modalPrice = document.getElementById('ycPrice');
            const modalImage = document.getElementById('ycImage');

            modalName.innerText = name;
            modalDescription.innerText = description;
            modalPrice.innerText = 'Harga: Rp ' + price;
            modalImage.src = imageUrl;

            document.getElementById('txtProductQuantity').value = 1;

            var buttonModal = document.getElementById('btnModal');
            buttonModal.removeAttribute("onclick");
            if (mmsr == "Y" || masr == "Y") {
                buttonModal.setAttribute('onclick', "goToSpecReq('" + prdcd + "')");
            } else {
                buttonModal.setAttribute('onclick', "addToCart('" + prdcd + "')");
            }
        }

        function alertPesanError(textError) {
            $(".loader-div").hide();
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: textError
            })
        }

        function goToSpecReq(produkKode) {
            if ($('#txtProductQuantity').val() < 1) {
                $('#productModal').modal('hide');
                alertPesanError('Jumlah produk yang ingin dipesan harus lebih dari 0');
            }
            else {
                window.location.href = "/Main/SpecialAdditional?prdcd=" + produkKode + "&qty=" + $('#txtProductQuantity').val()
            }
        }

        function addToCart(produkKode) {
            $(".loader-div").show();
            if ($('#txtProductQuantity').val() < 1) {
                $('#productModal').modal('hide');
                alertPesanError('Jumlah produk yang ingin dipesan harus lebih dari 0');
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Main/TambahKeKeranjang",
                    data: {
                        prdcd: produkKode,
                        qty: $("#txtProductQuantity").val()
                    },
                    success: function (data) {
                        if (data.indexOf('<div id="errorMessagePanelCart"') === -1) {
                            $('#productModal').modal('hide');
                            $("#divCart").html(data);
                            updateFooter();
                            $(".loader-div").hide();
                            Swal.fire(
                                'Sukses !',
                                'berhasil ditambahkan ke keranjang'
                            );
                        } else {
                            $('#productModal').modal('hide');
                            $(".loader-div").hide();
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'gagal menambahkan produk ke keranjang'
                            });
                        }
                    },
                    error: function (data) {
                        $('#productModal').modal('hide');
                        $(".loader-div").hide();
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'gagal menambahkan produk ke keranjang'
                        })
                    }
                });
            }
        }

        function updateFooter() {
            var labelTotalQty = document.getElementById('lblTotalQtyHide').innerText;
            var labelTotalPrice = document.getElementById('lblTotalHargaHide').innerText;

            document.getElementById('lblTotalProduk').innerText = "Total Produk : " + labelTotalQty;
            document.getElementById('lblTotalHarga').innerText = "Rp " + labelTotalPrice;
        }

        //JS panel cart
        function toggleCart() {
            var cartPanel = document.getElementById("cart");
            if (cartPanel.classList.contains("show")) {
                cartPanel.classList.remove("show");
            } else {
                cartPanel.classList.add("show");
                //document.body.style.overflow = "hidden"; // Nonaktifkan scrolling pada body
            }
        }

        function onSearchCriteria(katprod) {
            /*var cartPanel = document.getElementById("cart");
            if (cartPanel.classList.contains("show")) {
                cartPanel.classList.remove("show");
            } */

            $(".loader-div").show();
            kategory_produk = katprod;
            $.ajax({
                type: "POST",
                url: "/Main/Search",
                data: {
                    NAMA: $("#txtCari").val(),
                    MERK: katprod
                },
                success: function (data) {
                    $(".loader-div").hide();
                    $("#divGrid").html(data);
                },
                error: function (data) {
                    $(".loader-div").hide();
                }
            });
        }

        function btnCari_onClick() {
            onSearchCriteria(kategory_produk);
        }

        function btnbayar_onclick() {
            if ($("#lblTotalQtyHide").text() == 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Belum ada produk didalam keranjang belanja'
                })
            }
            else {
                window.location.href = "/Keranjang/Index";
            }
        }

        function decrementQuantity() {
            var quantityInput = document.getElementById('txtProductQuantity');
            var currentValue = parseInt(quantityInput.value, 10);

            // Memastikan nilai tidak kurang dari minimum yang ditetapkan (1)
            if (currentValue > 1) {
                quantityInput.value = currentValue - 1;
            }
        }

        function incrementQuantity() {
            var quantityInput = document.getElementById('txtProductQuantity');
            var currentValue = parseInt(quantityInput.value, 10);
            quantityInput.value = currentValue + 1;
        }

        function decrementQuantityPC(index, id) {
            var quantityLabel = document.getElementById('lblQtyPC_'+index);
            var currentValue = parseInt(quantityLabel.innerText, 10);

            // Memastikan nilai tidak kurang dari minimum yang ditetapkan (1)
            if (currentValue > 1) {
                updateToCartFromPanel(id, currentValue-1);
            }    
        }

        function incrementQuantityPC(index, id) {
            var quantityLabel = document.getElementById('lblQtyPC_'+index);
            var currentValue = parseInt(quantityLabel.innerText, 10);

            updateToCartFromPanel(id, currentValue+1);
        }

        function updateToCartFromPanel(idKeranjang, produkQty) {
            $(".loader-div").show();
            $.ajax({
                type: "POST",
                url: "/Main/UpdateQtyKeranjangPanelCart",
                data: {
                    id: idKeranjang,
                    qty: produkQty
                },
                success: function (data) {
                    $('#productModal').modal('hide');
                    $("#divCart").html(data);
                    updateFooter();
                    var cartPanel = document.getElementById("cart");
                    cartPanel.classList.add("show");
                    $(".loader-div").hide();
                },
                error: function (data) {
                    $('#productModal').modal('hide');
                    $(".loader-div").hide();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'gagal menambahkan produk ke keranjang'
                    })
                }
            });

        }

    </script>
</body>
</html>

