
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Initial Page</title>
    <link rel="stylesheet" href="~/Assets/css/styleee2.css" />
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/css/sweetalert2.css">
    <link rel="stylesheet" href="~/Assets/css/loader.css">
</head>
<body>

    <div class="loader-div">
        <img class="loader-img" src="~/Assets/image/loading.gif" style="height: 40px;width: auto;" />
    </div>

    <div class="menu">
        <div class="div">
            <img src="https://c.animaapp.com/q0MeXVJX/img/hero-bnr-pc-frappe-time-1--1.png" class="img-thumbnail" style="width: 100%;" />
            <div class="container-fluid">
                <div class="col-12 d-flex justify-content-center" style="margin-top: 70px; margin-bottom: 70px;">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-8">
                        <img src="~/Assets/image/indomaretlogo.png" class="figure-img img-fluid rounded" alt="">
                    </div>
                </div>
                <div class="col-10 mx-auto" style="margin-top: 160px;margin-bottom: 80px;">
                    <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-secondary" style="box-shadow: 1px 3px #888888;" onclick="btnMakanDisini()">
                                <img src="~/Assets/image/icons8-cutlery-100.png" alt="" class="img-fluid" style="height: 340px;padding: 20px;width: 290px;">
                                <h5>Makan Disini</h5>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-secondary" style="box-shadow: 1px 3px #888888;">
                                <img src="~/Assets/image/icons8-take-away-100.png" alt="" class="img-fluid" style="height: 340px;padding: 20px;width: 290px;">
                                <h5>Bawa Pulang</h5>
                            </button>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-6 col-md-6 col-sm-6 col-6 d-flex align-items-center" style="margin-bottom:20px">
                        <input type="text" class="form-control" id="txtCari" style="text-transform: uppercase" placeholder="MENGUBAH NIK KASIR ?" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="btnUbah_onClick()">
                                UBAH
                            </button>
                        </div>
                    </div>
                    <div id="divGrid">
                        @Html.Partial("_GridView")
                    </div>*@
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/sweetalert2.min.js"></script>
    <script>

        $(document).ready(function () {
            loadMaster();
        });

        function loadMaster() {
            $(".loader-div").show();
            $.ajax({
                type: "POST",
                url: "/Initial/LoadMaster",
                data: {
                },
                success: function (returnResult) {
                    $(".loader-div").hide();
                    if (returnResult.Result == 'ERROR') {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: returnResult.ErrMesgs[0]
                        })
                    }
                    else {
                        Swal.fire(
                            'Sukses !',
                            'Load data master berhasil'
                        )
                    }
                },
                error: function (returnResult) {
                    $(".loader-div").hide();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: returnResult.errMesgs[0]
                    })
                }
            });
        }

        function btnMakanDisini() {
            $.ajax({
                type: "POST",
                url: "/Initial/MakanDisini",
                data: {
                },
                success: function (data) {
                    window.location.href = "/Main/Index";
                },
                error: function (data) {
                }
            });
        }

        function btnUbah_onClick() {
            $.ajax({
                type: "POST",
                url: "/Initial/UbahClass",
                data: {
                    INPUTTEXT: $("#txtCari").val()
                },
                success: function (data) {
                    $("#divGrid").html(data);
                },
                error: function (data) {
                }
            });
        }
    </script>
</body>
</html>
