@{
    int totalHarga = (int)ViewData["totalHarga"];
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pembayaran Page</title>
    <link rel="stylesheet" href="~/Assets/css/style-custom.css" />
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/css/style-tracking.css" />
</head>
<body>
    <div class="menu">
        <div class="div">
            <div class="col-12 d-flex justify-content-center" style="padding-top:  65px;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <img src="~/Assets/image/indomaretlogo.png" class="figure-img img-fluid rounded" alt="">
                </div>
            </div>
            <br />

            <div class="col-8 mx-auto d-flex justify-content-center" style="margin-top: 20px;">

                <div class="step-wizard-item">
                    <span class="progress-count">1</span>
                    <span class="progress-label">
                        <h6>Pesan</h6>
                    </span>
                </div>
                <div class="step-wizard-item current-item">
                    <span class="progress-count">2</span>
                    <span class="progress-label">
                        <h6>Bayar</h6>
                    </span>
                </div>
                <div class="step-wizard-item">
                    <span class="progress-count">3</span>
                    <span class="progress-label">
                        <h6>Selesai</h6>
                    </span>
                </div>

            </div>

            <br />
            <div class="container-fluid" style="margin-top:50px">
                <div class="row">
                    <div class="col-9 mx-auto">
                        <h1 class="text-center">
                            Scan barcode berikut untuk melakukan pembayaran
                        </h1>
                    </div>
                    <div class="col-9 mx-auto" style="margin-top:50px;margin-bottom:50px">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="text-center">Total</h3>
                                <h1 class="text-center">Rp @totalHarga.ToString("N0")</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mx-auto" style="margin-top:50px;margin-bottom:50px">
                        <img src="~/Assets/image/sample_barcode.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>
</html>

